* {
  outline: none;
}

.body {
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.header {
  background: url(../img/section1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.header-top-wrapper {
  background-color: rgba(73, 71, 63, 0.5);
  width: 100%;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-link {
  text-decoration: none;
  color: #fff;
}

.green-text {
  color: #18cfab;
}

.nav {
  margin-right: -11px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
}

.nav-list-item {
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 11px;
  position: relative;
}

.nav-list-item:after {
  content: '';
  display: inline-block;
  width: calc(100% - 22px);
  height: 2px;
  background-color: transparent;
  position: absolute;
  top: 66px;
  left: 11px;
}

.nav-list-item:hover:after {
  background-color: #18cfab;
}

.nav-list-item:last-child:after {
  display: none;
}

.nav-link {
  color: #b8b8b8;
  text-decoration: none;
}

.nav-link:hover {
  color: #18cfab;
}

.search {
  color: #bbb;
  font-size: 22px;
}

.header-content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 892px;
}

.header-strong-text {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 45px;
}

.header-tagline {
  color: #ffffff;
  font-size: 79px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 37px;
}

.header-thin-text {
  color: #d4d4d4;
  font-size: 34px;
  font-weight: 300;
  margin-bottom: 140px;
}

.buttons {
  display: flex;
}

.btn {
  padding: 26px 32px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: none;
  box-shadow: 0px -6px 0px 0px #fff;
  -webkit-box-shadow: 0px -6px 0px 0px #fff;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.green-btn {
  background-color: #18cfab;
  margin-right: 28px;
}

.green-btn:hover {
  background-color: #1aa78a;
}

.green-btn:active {
  background-color: #1aa78a;
  box-shadow: 0px 6px 0px 0px #fff;
  -webkit-box-shadow: 0px 6px 0px 0px #fff;
}

.blue-btn {
  background-color: #00cbf6;
}

.blue-btn:hover {
  background-color: #07a3c2;
}

.blue-btn:active {
  background-color: #07a3c2;
  box-shadow: 0px 6px 0px 0px #fff;
  -webkit-box-shadow: 0px 6px 0px 0px #fff;
}

.preferences {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.preference {
  height: 374px;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;

  -webkit-align-items: center;
          align-items: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.preference-content {
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
}

.dark {
  background-color: #1c2a33;
  
}

.light {
  background-color: #18cfab;
}

.dark-content {
  margin-top: 95px;
}

.light-content {
  margin-top: 106px;
}

.preference-description-dark {
  margin-top: 48px;
  color: #18cfab;
  text-align: center;
}

.preference-description-light {
  margin-top: 59px;
  color: #fff;
  text-align: center;
}

.services {
  margin-top: 82px;
  margin-bottom: 103px;
}

.header-h2 {
  text-align: center;
  color: #4e4e4e;
  font-size: 36px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 100px;
}

.header-h2:before {
  content: "";
  height: 1px;
  width: 76px;
  background-color: #18cfab;
  display: block;
  position: relative;
  top: 63px;
  left: calc(50% - 42px);  
}

.header-h2:after {
  content: "";
  height: 1px;
  width: 76px;
  background-color: #18cfab;
  display: block;
  position: relative;
  top: 29px;
  left: calc(50% - 30px);
}

.services-list {
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 24px;
}

.services-list-item {
  display: inline-block;
  position: relative;
  background-color: #f8fcfe;
  border: 1px solid #ebebeb;
  text-decoration: none;
  color: #717171;
  font-size: 16px;
  font-weight: 400;
  width: 192px;
  text-align: center;
  padding: 27px 0 30px;
  display: inline-block;
  cursor: pointer;
}

.services-list-item:hover {
  color: #fff;
  background-color: #18cfab;
}

.services-list-item.active-tab {
  color: #fff;
  background-color: #18cfab;
}

.services-list-item:hover:after {
  content: '';
  display: block;
  position: absolute;
  left: calc(50% - 13px);
  bottom: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 12px 0 12px;
  border-color: #18cfab transparent transparent transparent;
}

.services-list-item.active-tab:after {
  content: '';
  display: block;
  position: absolute;
  left: calc(50% - 13px);
  bottom: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 12px 0 12px;
  border-color: #18cfab transparent transparent transparent;
  
}

.services-image {
  width: 194px;
  height: 139px;
}

.services-description {
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
}

.services-text {
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  margin-left: 20px;
  line-height: 24px;
  text-align: justify;
}

.offer {
  background: url(../img/section2.jpg);
  background-position: center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 100%;
}

.offer-content {
  height: 474px;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.offer-header {
  color: #18cfab;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.offer-description {
  color: #d8d8d8;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 76px;
}

.work-gallery-content {
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
}

.work-gallery {
  background-color: #f8fcfe;
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #E1E1E1;
}

.work-gallery-list {
  display: inline-flex;
  -webkit-justify-content: center;
          justify-content: center;
  margin: 0 auto 70px;
  border: 1px solid #ebebeb;
}

.work-gallery-item {
  display: inline-block;
  position: relative;
  background-color: #FFF;
  border-right: 1px solid #ebebeb;
}

.work-gallery-item:last-child {
  border: none;
}

.work-gallery-link {
  display: inline-block;
  color: #717171;
  text-decoration: none;
  padding: 24px 25px 20px;
}

.work-gallery-link:hover {
  color: #18cfab;
  -webkit-box-shadow: 0px -2px 0px 0px rgba(24,207,171,1);
  -moz-box-shadow: 0px -2px 0px 0px rgba(24,207,171,1);
  box-shadow: 0px -2px 0px 0px rgba(24,207,171,1);
}

.work-gallery-item.active-item .work-gallery-link{
  color: #18cfab;
  -webkit-box-shadow: 0px -2px 0px 0px rgba(24,207,171,1);
  -moz-box-shadow: 0px -2px 0px 0px rgba(24,207,171,1);
  box-shadow: 0px -2px 0px 0px rgba(24,207,171,1);
}

.tiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 208px; 
  margin-bottom: 70px;  
}

.tile {
  position: relative;
  -webkit-perspective: 1000px;
     -moz-perspective: 1000px;
          perspective: 1000px;
  display: none;
}

.tile.active {
  display: block;
}
.front, .back {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: all .5s ease-in-out;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}

.back {
  -webkit-transform: rotateY(-180deg);
     -moz-transform: rotateY(-180deg);
      -ms-transform: rotateY(-180deg);
       -o-transform: rotateY(-180deg);
  border-top: 2px solid #18cfab;
  background-color: #F8FCFE;
  position: absolute;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}


.tile:hover .front {
  -webkit-transform: rotateY(-180deg);
     -moz-transform: rotateY(-180deg);
      -ms-transform: rotateY(-180deg);
       -o-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.tile:hover .back {
  -webkit-transform: rotateY(-360deg);
     -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
       -o-transform: rotateY(-360deg);
          transform: rotateY(-360deg);
}

.tile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttons {
  margin-bottom: 34px;
}

.link-btn {
  margin-right: 5px;
  color: #1fdab5;
  background-color: #f8fcfe;
  width: 41px;
  height: 40px;
  border: 1px solid #1fdab5;
  -webkit-border-radius: 40px;
          border-radius: 40px;
}

.more-info {
  text-align: center;
  color: #f8fcfe;
  background-color: #1fdab5;
  text-decoration: none;
  width: 41px;
  padding: 11px 0;
  -webkit-border-radius: 40px;
          border-radius: 40px;
}

.project-title {
  color: #18cfab;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.project-description {
  color: #8a8a8a;
  font-size: 12px;
  font-weight: 300;
}

.load-more {
  height: 60px;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  padding: 0 21px;
  background-color: #18cfab;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  position: relative;
}

.preloader {
  background: -moz-linear-gradient(top, rgba(26,167,138,1) 11%, 
    rgba(171,232,244,1) 90%);
  background: -webkit-linear-gradient(top, rgba(26,167,138,1) 11%,
    rgba(171,232,244,1) 90%);
  background: linear-gradient(to bottom, rgba(26,167,138,1) 11%,
    rgba(171,232,244,1) 90%);
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  left: calc(50% - 10px);
  bottom: calc(100% + 10px);
  transform: rotate(0deg);
  animation: rotation_circle 3s forwards linear infinite;
}
@keyframes rotation_circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
.load-more:hover {
  background-color: #1aa78a;
}

.plus {
  margin-right: 16px;
  display: inline-block;
  line-height: 0.5;
  font-size: 30px;
}

.tabs__content {
  display: none;
}
.tabs__content.active-tab {
  display: flex;
}

.news {
  margin-top: 84px;
  margin-bottom: 132px;
}

.news-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 45px 28px;
}

.news-item {
  height: 280px;
  position: relative;
}

.news-item:hover {
  cursor: pointer;
}

.news-image-block {
  height: 208px;
}

.news-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.news-date {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #203e38;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  padding: 14px 0;
  width: 68px;  
  -webkit-transition: all 0.1s ease-in;
   -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
     -o-transition: all 0.1s ease-in;
        transition: all 0.1s ease-in;
}

.news-title {
  padding-left: 16px;
  padding-top: 14px;
  min-height: 73px;
  width: 100%;
  border: 2px solid #ececec;
}

.news-header {
  color: #717171;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 14px;
  -webkit-transition: all 0.1s ease-in;
   -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
     -o-transition: all 0.1s ease-in;
        transition: all 0.1s ease-in;
}

.news-description {
  color: #777777;
  font-size: 14px;
  font-weight: 300;
}

.news-author {
  margin-right: 17px;
}

.news-comments {
  margin-left: 17px;
}

.news-item:hover .news-header {
  color: #18cfab;
}

.news-item:hover .news-date {
  background-color: #18cfab;
}

.reviews {
  background: url(../img/section3.jpg);
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  padding: 99px 0 104px;
}

.white-text {
  color: #fff;
}
.reviews-content {
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-align-content: center;
          align-content: center;
}

.review-description {
  text-align: center;
}

.review-description:before {
  content: url(../img/quotes.png);
  display: block;
  position: relative;
  top: -40px;
  left: 0;
  z-index: 2;
}

.review-description-paragraph {
  margin-bottom: 43px;
  color: #bbbbbb;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  height: 55px;
  overflow: hidden;
}

.big-slider,
.mini-slider {
  width: 100%;
}

.mini-slider {
  max-width: 482px;
  margin: 0 auto;
  padding: 0 44px;
}

.mini-slider .slick-arrow {
  width: 31px;
  height: 31px;
  border: 2px solid #919697;
  font-size: 0;
  background: transparent;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.big-slider .slider-wrapper {
  padding-top: 40px;
  padding-bottom: 56px;
}

.slick-slide {
  height: auto;
}

.slider-for, .slider-nav {
  visibility: hidden;
} 

.person {
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-align-content: center;
          align-content: center;
}

.person-title {
  color: #18cfab;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.person-post {
  color: #bbbbbb;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 27px;
}

.person-photo {
  width: 142px;
  height: 142px;
  object-fit: cover;
  -webkit-border-radius: 142px;
          border-radius: 142px;
  border: 4px solid #18cfab;
  box-shadow: 0px 0px 0px 10px rgba(24,207,171,0.2);
  -webkit-box-shadow: 0px 0px 0px 10px rgba(24,207,171,0.2); 
 
}

.mini-slider .slick-arrow.slick-prev {
  left: 0;
}

.mini-slider .slick-arrow.slick-next {
  right: 0;
}

.mini-slider .slick-arrow.slick-prev:before {
  content: "\f053";
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  font-size: 16px;
  font-weight: bold;
  color: #919697;
}

.mini-slider .slick-arrow.slick-next:before {
  content: "\f054";
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  font-size: 16px;
  font-weight: bold;
  color: #919697;
}

.mini-slider .slick-arrow:hover {
  background: #18cfab;
  border-color: #18CFAB;
}

.mini-slider .slick-arrow:hover:before {
  color: #FFF;
}

.mini-slider .slick-slide {
  text-align: center;
  padding: 5px 0;
}

.mini-slider .slick-slide img {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 60px;
          border-radius: 60px;
  box-shadow: 0px 0px 0px 4px rgba(24,207,171,0.2);
  -webkit-box-shadow: 0px 0px 0px 4px rgba(24,207,171,0.2);
  border: 2px solid rgba(24,207,171,0.2);
  margin: 0 auto;
  display: inline-block;
  object-fit: cover;
}

.mini-slider .slick-current img {
  border-color: #18cfab;
}

.images-gallery {
  margin-top: 100px;
  margin-bottom: 82px;
}

.grid {
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 1140px;
}

.grid-item {
  margin-bottom: 18px;
  width: 370px;
  overflow: hidden;
  position: relative;
  display: none;
}

.active-grid {
  display: grid;
}

.grid-image {
  width: 100%;
  object-fit: cover;
}

.grid-figure {
  display: grid;
  grid-template-columns: repeat(6, 1fr  );
  grid-gap: 3px;
}

.grid-figure_big-element {
  height: 168px;
  width: 100%;
  position: relative;
}

.first-grid {
  grid-column: span 3;
}

.second-grid {
  grid-column: span 3;
}

.grid-figure_element {
  height: 92px;
  width: 100%;
  grid-column: span 2;
  position: relative;
}

.grid-figure_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-buttons {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
     -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
       -o-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
}

.image-hover:hover .image-buttons{
  opacity: 1;
}

.button_link {
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  text-decoration: none;
  font-size: 16px;
  height: 38px;
  margin: 0 4px;
  color: #ecf0f1;
  width: 42px;
  background-color: #14b9d5;
  -webkit-border-radius: 1px;
          border-radius: 1px;
}

.images-gallery-button {
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.footer {
  min-height: 110px;
  background-color: #22353f;
}

.copyright {
  text-align: center;
  color: #aeaeae;
  font-size: 14px;
  font-weight: 300;
  padding: 47px;
}
.green-text {
  color: #18cfab;
}

.footer-link {
  text-decoration: none;
}